@charset "utf-8";
.test-backface-visibility {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}
.test-background-gradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0000), to(#000000));
  background: -webkit-linear-gradient(top, #ff0000, #000000);
  background: -moz-linear-gradient(top, #ff0000, #000000);
  background: -o-linear-gradient(top, #ff0000, #000000);
  background: -ms-linear-gradient(top, #ff0000, #000000);
  background: linear-gradient(top, #ff0000, #000000);
  background-color: #000000;
}
.test-border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.test-box-shadow-outer {
  -webkit-box-shadow: 5px 10px 5px #000000;
  -moz-box-shadow: 5px 10px 5px #000000;
  box-shadow: 5px 10px 5px #000000;
}
.test-box-shadow-inner {
  -webkit-box-shadow: inset 5px 10px 5px #000000;
  -moz-box-shadow: inset 5px 10px 5px #000000;
  box-shadow: inset 5px 10px 5px #000000;
}
.test-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.test-column-count {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
}
.test-column-gap {
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  -o-column-gap: 25px;
  -ms-column-gap: 25px;
  column-gap: 25px;
}
.test-opacity {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.test-perspective {
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  -o-perspective: 200px;
  -ms-perspective: 200px;
  perspective: 200px;
}
.test-perspective-origin {
  -webkit-perspective-origin: 20%, 50%;
  -moz-perspective-origin: 20%, 50%;
  -o-perspective-origin: 20%, 50%;
  -ms-perspective-origin: 20%, 50%;
  perspective-origin: 20%, 50%;
}
.test-text-shadow {
  text-shadow: 5 10 5 #000000;
}
.test-transform {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.test-transform-perspective {
  -webkit-transform: perspective(200px);
  -moz-transform: perspective(200px);
  -o-transform: perspective(200px);
  -ms-transform: perspective(200px);
  transform: perspective(200px);
}
.test-transform-rotate {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.test-transform-rotate3d {
  -webkit-transform: rotateX(0px) rotateY(0px) rotateZ(0px);
  -moz-transform: rotateX(0px) rotateY(0px) rotateZ(0px);
  -o-transform: rotateX(0px) rotateY(0px) rotateZ(0px);
  -ms-transform: rotateX(0px) rotateY(0px) rotateZ(0px);
  transform: rotateX(0px) rotateY(0px) rotateZ(0px);
}
.test-transform-scale {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.test-transform-scale3d {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.test-transform-skew {
  -webkit-transform: skew(10deg, 20deg);
  -moz-transform: skew(10deg, 20deg);
  -o-transform: skew(10deg, 20deg);
  -ms-transform: skew(10deg, 20deg);
  transform: skew(10deg, 20deg);
}
.test-transform-translate {
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}
.test-transform-translate3d {
  -webkit-transform: translate3d(10px, 10px, 10px);
  -moz-transform: translate3d(10px, 10px, 10px);
  -o-transform: translate3d(10px, 10px, 10px);
  -ms-transform: translate3d(10px, 10px, 10px);
  transform: translate3d(10px, 10px, 10px);
}
.test-transform-origin {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.test-transform-style {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -o-transform-style: flat;
  -ms-transform-style: flat;
  transform-style: flat;
}
.test-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
